html
	head
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='/css/main.css', rel='stylesheet', type='text/css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='theme-color' content='#ff381e')
		link(rel='manifest' href='/manifest.json')
		link(rel='shortcut icon', type='image/png', href='/images/logo.png')
	body
		a(href='http://github.com/davebitter/weather_stream.git', target='_blank', title='view project on github')
			img#github-mark(src='/images/github_mark.png' alt='github mark')
		block content
		script(src='https://cdn.socket.io/socket.io-1.2.0.js', type='text/javascript')
		script(src='/js/build.js', type='text/javascript')